// Mobile Navbar Behavior
.navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #100f0f;
  // padding: 0.5rem;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  // overflow-y: hidden;

  &.open {
    display: flex;
    transform: translateX(0);
  }

  &.closed {
    display: none;
  }

  @media (min-width: 768px) {
    height: auto;
    width: 100%;
    padding: 0 1em;
    margin: 0;
    background-color: #000000ff;
  }

  .nav-item {
    text-decoration: none;
    font-size: 3em;
    color: rgba(240, 240, 240, 0.9);
    transition: color 0.3s;
    // border: 1px solid red;

    @media (min-width: 768px) {
      font-size: 1em;
    }

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

// Navbar Toggler (Mobile)
.navbar-toggler {
  display: block; // Visible by default (mobile).
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
  // background-color: var(--tw-indigo-500);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none; // Hidden on larger screens.
  }
}
