<div class="grid grid-cols-1 lg:grid-cols-4 mt-16 gap-6 items-start h-[95dvh]">
  <!-- row 1 -->
  <div class="col-span-1">
    <h1 class="text-gray-9504xl font-bold mb-4">contact</h1>
    <p>Reach out!</p>
    <p>I'll get back to you rather sooner than later.</p>
  </div>
  <div class="col-span-1"></div>
  <div class="col-span-1"></div>
  <div class="col-span-1"></div>

  <!-- row 2 -->
  <div class="col-span-1"></div>
  <div class="col-span-1">
    <app-contact-form></app-contact-form>
  </div>
  <div class="col-span-1"></div>
  <div class="col-span-1"></div>

  <!-- row 3 -->
  <div class="col-span-1">
    <p class="my-10">
      email:
      <a href="mailto:himarseo@gmail.com" class="contact-item"
        >himarseo&#64;gmail.com</a
      >
    </p>
    <p>
      tel.:
      <a href="tel:+436765014830" class="contact-itemng serve"
        >+43 670 4058521</a
      >
    </p>
  </div>
  <div class="col-span-1"></div>
  <div class="col-span-1"></div>
  <div class="col-span-1"></div>
</div>
