<section class="hero-section">
  <div class="col-span-4 row-span-1">
    <h1 class="page-title text-9xl">{{ title }}</h1>
    <p class="page-subtitle text-4xl">{{ subtitle }}</p>
  </div>
</section>

<!-- <section [ngClass]="styleClass" class="hero-section"> -->
<!-- <div class="hero-content flex flex-col md:flex-row"> -->
<!-- hero content 1 -->
<!-- <div class="hero-content-1 w-full md:w-3/5"> -->
<!-- <div [ngClass]="styleClass" class="hero-graphic"></div> -->

<!-- </div> -->

<!-- hero content 2 -->
<!-- <div class="hero-content-2 w-full md:w-2/5">
      <h1 class="page-title text-3xl">{{ title }}</h1>
      <p class="page-subtitle text-2xl">{{ subtitle }}</p>
    </div>
  </div> -->
