// @import "../../../styles/variables";

// typo

.hero-section {
  margin: 15vh 0 20vh;
}

// HERO GRAPHICS - START

// home graphic - start
.hero-graphic-home {
  width: 40vw;
  height: 40vw;
  border: 1px solid $accent-1;
}
// home graphic -end

// HERO GRAPHICS - END
