<div class="page-wrapper">
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 items-start">
    <!-- search/filter column -->
    <div class="col-span-1 lg:sticky lg:top-0 self-start">
      <!-- Search Input -->
      <!-- <input
      [(ngModel)]="searchTerm"
      (input)="onSearchTermChange(searchTerm)"
      placeholder="Search Blog Posts"
    /> -->

      <!-- Category Filter -->
      <!-- <div class="category-filter">
      <button
        *ngFor="let category of categories"
        (click)="filterByCategory(category)"
        [class.active]="category === selectedCategory"
      >
        {{ category }}
      </button>
    </div> -->

      <!-- Tag Filter -->
      <!-- <div class="tag-filter">
      <button
        *ngFor="let tag of tags"
        (click)="filterByTag(tag)"
        [class.active]="tag === selectedTag"
      >
        {{ tag }}
      </button>
    </div> -->

      <!-- Sorting Dropdown -->
      <!-- <div class="sort-filter">
      <label for="sort">Sort By:</label>
      <select id="sort" [(ngModel)]="sortBy" (change)="onSortChange(sortBy)">
        <option value="date">Date</option>
        <option value="title">Title</option>
        <option value="popularity">Popularity</option>
      </select>
    </div> -->
      <!-- </div> -->
    </div>

    <!-- card columns -->
    <div
      class="col-span-3 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      <app-card
        *ngFor="let blog of filteredBlogPosts"
        [id]="blog.id"
        [tags]="blog.tags"
        [title]="blog.title"
        [description]="blog.description ?? ''"
        [slug]="blog.slug"
        [category]="blog.category"
        [type]="'blog'"
      ></app-card>
    </div>

    <!-- TEMP REMOVED FROM THE APP-CARD
  [codeImage]="blog.codeImage" 
  -->

    <!-- GRID - END -->

    <!-- Blog Posts Grid -->
    <!-- <div class="blog-posts-grid">
      <app-blog-post
        *ngFor="let post of filteredPosts"
        [post]="post"
      ></app-blog-post>
    </div> -->
  </div>
</div>
<!-- </div> -->
