// COLORS - START

// brand
$brand-1: #fea78bff;
$brand-2: #fe8964ff;
$brand-3: #ff7245ff;
$brand-4: #fe5d28ff;
$brand-5: #fe3b02ff;

// text
$text-1: #f8f9fa;
$text-2: #e9ecef;
$text-3: #dee2e6;
$text-4: #ced4da;
$text-5: #adb5bd;
$text-6: #6c757d;
$text-7: #495057;
$text-8: #343a40;
$text-9: #212529;

// background
$bg-1: #4e4f4dff;
$bg-2: #414141ff;
$bg-3: #2e2d2dff;
$bg-4: #1b1a1aff;
$bg-5: #000000ff;

// accent
$accent-1: #fffdf9ff;
$accent-2: #fffcf5ff;
$accent-3: #fffaebff;
$accent-4: #fff7e1ff;
$accent-5: #ffefccff;

// semantic
$success-color: #28a745;
$warning-color: #ffc107;
$error-color: #dc3545;
$info-color: #17a2b8;

// COLORS - END

// BREAKPOINT - START
$breakpoint-sm: 481px;
$breakpoint: 768px;
// BREAKPOINT - END
