<div class="app-container">
  <app-navbar></app-navbar>
  <!-- <app-hero
    *ngIf="heroData"
    [title]="heroData.title"
    [subtitle]="heroData.subtitle"
    [styleClass]="heroData.styleClass"
  ></app-hero> -->
  <router-outlet></router-outlet>
  <app-cta
    *ngIf="ctaData"
    [ctaTaglinePrimary]="ctaData.ctaTaglinePrimary"
    [ctaBtnPrimary]="ctaData.ctaBtnPrimary"
    [ctaBtnPrimaryLink]="ctaData.ctaBtnPrimaryLink"
    [ctaTaglineSecondary]="ctaData.ctaTaglineSecondary"
    [ctaBtnSecondary]="ctaData.ctaBtnSecondary"
    [ctaBtnSecondaryLink]="ctaData.ctaBtnSecondaryLink"
    [styleClass]="ctaData.styleClass"
  ></app-cta>
  <app-footer></app-footer>
</div>
