<div class="page-wrapper">
  <div
    class="grid grid-cols-1 lg:grid-cols-4 mt-16 gap-6 items-start h-[95dvh]"
  >
    <!-- row 1 -->
    <div class="col-span-1">
      <p class="text-4xl font-bold text-gray-50">thank you</p>
      <p class="text-4xl font-bold text-gray-200"></p>
      <p class="text-4xl font-bold text-gray-300"></p>
      <p class="text-4xl font-bold text-gray-400"></p>

      <p class="text-4xl font-bold text-gray-400">message sent</p>
      <p class="text-4xl font-bold text-gray-500">500</p>
      <p class="text-4xl font-bold text-gray-600">600</p>
      <p class="text-4xl font-bold text-gray-700">700</p>

      <p class="text-4xl font-bold text-gray-800">800</p>
      <p class="text-4xl font-bold text-gray-900">900</p>
      <p class="text-4xl font-bold text-gray-950">950</p>
    </div>

    <div class="col-span-1">
      <p class="text-4xl font-bold text-gray-50">gracias</p>
      <p class="text-4xl font-bold text-gray-200"></p>
      <p class="text-4xl font-bold text-gray-300"></p>
      <p class="text-4xl font-bold text-gray-400"></p>

      <p class="text-4xl font-bold text-gray-400">mensaje enviado</p>
      <p class="text-4xl font-bold text-gray-500">500</p>
      <p class="text-4xl font-bold text-gray-600">600</p>
      <p class="text-4xl font-bold text-gray-700">700</p>

      <p class="text-4xl font-bold text-gray-800">800</p>
      <p class="text-4xl font-bold text-gray-900">900</p>
      <p class="text-4xl font-bold text-gray-950">950</p>
    </div>

    <div class="col-span-1">
      <p class="text-4xl font-bold text-gray-50">danke</p>
      <p class="text-4xl font-bold text-gray-200"></p>
      <p class="text-4xl font-bold text-gray-300"></p>
      <p class="text-4xl font-bold text-gray-400"></p>

      <p class="text-4xl font-bold text-gray-400">Nachricht gesendet</p>
      <p class="text-4xl font-bold text-gray-500">500</p>
      <p class="text-4xl font-bold text-gray-600">600</p>
      <p class="text-4xl font-bold text-gray-700">700</p>

      <p class="text-4xl font-bold text-gray-800">800</p>
      <p class="text-4xl font-bold text-gray-900">900</p>
      <p class="text-4xl font-bold text-gray-950">950</p>
    </div>

    <div class="col-span-1">
      <p class="text-4xl font-bold text-gray-50">děkuji</p>
      <p class="text-4xl font-bold text-gray-200"></p>
      <p class="text-4xl font-bold text-gray-300"></p>
      <p class="text-4xl font-bold text-gray-400"></p>

      <p class="text-4xl font-bold text-gray-400">zpráva odeslána</p>
      <p class="text-4xl font-bold text-gray-500">500</p>
      <p class="text-4xl font-bold text-gray-600">600</p>
      <p class="text-4xl font-bold text-gray-700">700</p>

      <p class="text-4xl font-bold text-gray-800">800</p>
      <p class="text-4xl font-bold text-gray-900">900</p>
      <p class="text-4xl font-bold text-gray-950">950</p>
    </div>
  </div>
</div>
