<div class="grid grid-cols-1 lg:grid-cols-4 mt-16 gap-6 items-start h-[95dvh]">
  <!-- row 1 -->
  <div class="col-span-1">
    <p class="text-4xl font-bold text-gray-50">thank you</p>
    <p class="text-4xl font-bold text-gray-200">thank you</p>
    <p class="text-4xl font-bold text-gray-300">thank you</p>
    <p class="text-4xl font-bold text-gray-400">thank you</p>

    <p class="text-4xl font-bold text-gray-400">message sent</p>
    <p class="text-4xl font-bold text-gray-500">message sent</p>
    <p class="text-4xl font-bold text-gray-600">message sent</p>
    <p class="text-4xl font-bold text-gray-700">message sent</p>
  </div>

  <div class="col-span-1">
    <p class="text-4xl font-bold text-gray-50">gracias</p>
    <p class="text-4xl font-bold text-gray-200">gracias</p>
    <p class="text-4xl font-bold text-gray-300">gracias</p>
    <p class="text-4xl font-bold text-gray-400">gracias</p>

    <p class="text-4xl font-bold text-gray-400">mensaje enviado</p>
    <p class="text-4xl font-bold text-gray-500">mensaje enviado</p>
    <p class="text-4xl font-bold text-gray-600">mensaje enviado</p>
    <p class="text-4xl font-bold text-gray-700">mensaje enviado</p>
  </div>

  <div class="col-span-1">
    <p class="text-4xl font-bold text-gray-50">danke</p>
    <p class="text-4xl font-bold text-gray-200">danke</p>
    <p class="text-4xl font-bold text-gray-300">danke</p>
    <p class="text-4xl font-bold text-gray-400">danke</p>

    <p class="text-4xl font-bold text-gray-400">Nachricht gesendet</p>
    <p class="text-4xl font-bold text-gray-500">Nachricht gesendet</p>
    <p class="text-4xl font-bold text-gray-600">Nachricht gesendet</p>
    <p class="text-4xl font-bold text-gray-700">Nachricht gesendet</p>
  </div>

  <div class="col-span-1">
    <p class="text-4xl font-bold text-gray-50">děkuji</p>
    <p class="text-4xl font-bold text-gray-200">děkuji</p>
    <p class="text-4xl font-bold text-gray-300">děkuji</p>
    <p class="text-4xl font-bold text-gray-400">děkuji</p>

    <p class="text-4xl font-bold text-gray-400">zpráva odeslána</p>
    <p class="text-4xl font-bold text-gray-500">zpráva odeslána</p>
    <p class="text-4xl font-bold text-gray-600">zpráva odeslána</p>
    <p class="text-4xl font-bold text-gray-700">zpráva odeslána</p>
  </div>
</div>
