.section-intro {
  margin-bottom: 5rem;

  // @media (min-width: 768px) {
  //   margin-bottom: 5rem;
  // }
}

.section-heading-home {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

// .card-cols {
//   padding-bottom: 70dvh;
// }

// @media (max-width: 768px) {
@media (max-width: 481px) {
  .section-heading-home {
    writing-mode: horizontal-tb;
    text-orientation: unset;
    // margin-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .section-intro {
    margin-bottom: 43vh;
  }

  // .section-heading-home {
  //   font-size: 3.5rem;
  // }

  .card-cols {
    padding-bottom: 50dvh;
  }
}
