.code-snippets {
  .code-snippet-wrapper {
    margin-bottom: 2rem;

    .snippet-heading {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .snippet-description {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .snippet-result img {
      max-width: 100%;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

    .code-block-wrapper {
      // background: #f9f9f9;
      padding: 1rem;
      border-radius: 0.5rem;

      .language-section {
        margin-bottom: 1.5rem;

        h4 {
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        pre {
          background: #2d2d2d;
          color: #f8f8f2;
          font-family: "Courier New", Courier, monospace;
          padding: 1rem;
          border-radius: 0.5rem;
          overflow-x: auto;
        }
      }
    }
  }
}
