<div class="code-snippets p-6">
  <div
    class="code-snippet-wrapper p-6 border-2 rounded"
    [id]="'snippet-' + i"
    *ngFor="let snippet of codeSnippets; let i = index"
  >
    <h3 class="snippet-heading">{{ snippet.heading }}</h3>
    <p class="snippet-description">{{ snippet.description }}</p>
    <div class="snippet-result" *ngIf="snippet.resultImage">
      <img [src]="snippet.resultImage" [alt]="snippet.heading" />
    </div>
    <div class="code-block-wrapper">
      <div class="language-section" *ngFor="let language of snippet.languages">
        <h4>{{ language.language.toUpperCase() }}</h4>
        <pre>
        <code
        [class]="'language-' + language.language"
        [innerText]="language.code"
        >
        </code>
      </pre>
      </div>
    </div>
    <p class="snippet-notes italic">{{ snippet?.notes }}</p>
  </div>
</div>
