@tailwind base;
@tailwind components;
@tailwind utilities;

// RESET - START

html,
body {
  // overflow-x: hidden;
  // width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  outline: 1px solid red;
}

// RESET - END

// TEXT STYLES - START
// .writing-mode-vertical {
//   writing-mode: vertical-rl;
//   text-orientation: mixed;
// }

.section-heading {
  // font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  @media (min-width: 768px) {
    // margin-bottom: 1rem;
    text-align: center;
  }
}

// TEXT STYLES - END

// LAYOUT GLOBAL - START

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.page-wrapper {
  margin: 0;
  padding: 2em 0.5em;
  min-height: 95dvh;
  // overflow-x: hidden;
}

@media only screen and (min-width: 486px) {
  .page-wrapper {
    padding: 4em 1em;
  }
}

.component-wrapper {
  padding: 0;
  margin: 0;
}

.section-intro {
  margin-bottom: 43vh;
  @media (min-width: 768px) {
    margin-bottom: 43vh;
  }
}

.section-grid {
  padding: 2rem 1rem;
  scroll-padding-top: 55rem;
}

.sticky {
  position: sticky;
}

// LAYOUT GLOBAL - END

// SECTION INTRO - START

// SECTION INTRO - END

// UI ELEMENTS - START

.see-more-btn {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
  @media (min-width: 768px) {
    justify-content: center;
    margin-top: 2rem;
  }
}

.see-more-btn:hover {
  color: orangered;
}

.see-more-btn .arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-right: 2px solid #333;
  border-top: 2px solid #333;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.see-more-btn:hover .arrow {
  border-color: orangered;
  transform: rotate(45deg) translateX(2px);
}

// UI ELEMENTS - END
