<div class="component-wrapper">
  <ul>
    <li>
      <a
        href="https://github.com/marseo84"
        target="_blank"
        class="flex items-center text-indigo-400 hover:text-indigo-500 transition"
        ><fa-icon class="text-2xl mr-2" [icon]="faGithub"></fa-icon>GitHub</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/marcel-bosek/"
        target="_blank"
        class="flex items-center text-indigo-400 hover:text-indigo-500 transition"
        ><fa-icon class="text-2xl mr-2" [icon]="faLinkedin"></fa-icon
        >LinkedIn</a
      >
    </li>

    <li>
      <a
        href="https://www.instagram.com/getkeys2english/"
        target="_blank"
        class="flex items-center text-indigo-400 hover:text-indigo-500 transition"
        ><fa-icon class="text-2xl mr-2" [icon]="faInstagram"></fa-icon
        >getkeys2english</a
      >
    </li>
    <li>
      <a
        href="https://www.instagram.com/hablo_espanol_si/"
        target="_blank"
        class="flex items-center text-indigo-400 hover:text-indigo-500 transition"
        ><fa-icon class="text-2xl mr-2" [icon]="faInstagram"></fa-icon
        >hablo_espanol_si</a
      >
    </li>
    <li>
      <a
        href="https://www.instagram.com/spanisch_aleman/"
        target="_blank"
        class="flex items-center text-indigo-400 hover:text-indigo-500 transition"
        ><fa-icon class="text-2xl mr-2" [icon]="faInstagram"></fa-icon
        >spanisch_aleman</a
      >
    </li>
  </ul>
</div>
